---
layout: default
title: Kai Magnus Müller - Interaction Design
description: Portfolio of Kai Magnus Müller, Interaction Designer at Syncier and co-founder of Destinations.
sitemap:

sitemap:
priority: 1.0
changefreq: weekly
---


<section class="mueller_os-hero m--global" id="hero" class="grid-4">
    <div class="mos-hero-main gr-baseline">

        <div class="personal-intro mos-window mos-window--primary border--all">
            <div class="mos-window-main text-mos-body--l">
                <p class="">Hi, I’m Kai Magnus.</p>
                <p>A product designer at <a href="https://www.syncier.com">Syncier</a>, working on human centered
                    experiences and products.
                    Previously, I spent some time at <a href="https://www.intuity.de">Intuity</a> working for automotive
                    companies and at <a href="https://www.precious-forever.com">precious design</a> working on POS
                    software.
                </p>

                <p>
                    While studying, I wrote a bachelor thesis about <a
                        href="{% link _posts/2020-08-20-destinations.md %}">building wayfinding systems</a>, designed a
                    <a href="{% link _posts/2020-02-15-Halo.md %}">browser built for research</a>, went to <a
                        href="https://www.zokei.ac.jp">Japan</a> and developed an award winning <a
                        href="{% link _posts/2017-02-12-aralsea.md %}">interactive exhibit</a>.
                </p>
            </div>
            <svg class="mos-window-resize-handle" xmlns="http://www.w3.org/2000/svg" width="13.104" height="13.104"
                viewBox="0 0 13.104 13.104">
                <rect width="13" height="13" fill="none" />
                <line x1="5.119" y2="5.119" transform="translate(7.5 7.5)" fill="none" stroke="#f5ffff"
                    stroke-width="1" />
                <line x1="10.75" y2="10.75" transform="translate(2 2)" fill="none" stroke="#f5ffff" stroke-width="1">
                </line>
            </svg>
        </div>


        {% assign thepost = site.posts | where:"title","Halo" %}
        {% for post in thepost %}

        <a href=" {{ post.url }}" alt="{{ post.description }}" class="mos-window--postit border--all outer aspect-1-1">
            <div class="mos-window-main inner">
                <p class="mos-postit-title text-mos-title--xl">{{ post.title }}</p>
                <p class="text-mos-body--s">{{ post.description_short }}</p>
            </div>
        </a>
        {% endfor %}


        {% assign thepost = site.posts | where:"title","Aral Sea" %}
        {% for post in thepost %}

        <a href=" {{ post.url }}" alt="{{ post.description_short }}"
            class="mos-window--postit border--all outer aspect-1-1">
            <div class="mos-window-main inner">
                <p class="mos-postit-title text-mos-title--xl">{{ post.title }}</p>
                <p class="text-mos-body--s">{{ post.description_short }}</p>
            </div>
        </a>
        {% endfor %}

        {% assign thepost = site.posts | where:"title","Destinations" %}
        {% for post in thepost %}

        <a href=" {{ post.url }}" alt="{{ post.description_short }}"
            class="mos-window--postit border--all outer aspect-1-1">
            <div class="mos-window-main inner">
                <p class="mos-postit-title text-mos-title--xl">{{ post.title }}</p>
                <p class="text-mos-body--s">{{ post.description_short }}</p>
            </div>
        </a>
        {% endfor %}

        {% assign thepost = site.posts | where:"title","Aral Sea" %}
        {% for post in thepost %}

        <a href=" {{ post.url }}" alt="{{ post.description_short }}" class="mos-window--postit-img border--all">
            <div class="mos-window-main">
                <p class="mos-postit-title text-mos-title--m border--bt">{{ post.title }}</p>
                <video class="" playsinline muted loop src="" alt="{{ post.description_short }}"></video>
            </div>
            {%comment%}
            "../assets/video/{{ post.header_video }}
            {%endcomment%}
        </a>
        {% endfor %}

        <div class="bg-pointgrid bg-grid--500"></div>

    </div>
</section>

<section class="project-section m--global gr-baseline">
    {% assign thepost = site.posts | where:"title","Winning the goAward 2021" %}
    {% for post in thepost %}

    <a href=" {{ post.url }}" alt="{{ post.description_short }}"
        class="mos-window--postit border--all outer aspect-1-1">
            <img class="inner" src="assets/img/articles/{{post.header_img}}">            
    </a>
    {% endfor %}
    <div class="mos-project-window mos-window mos-window--primary border--all projects-list">
        <div class="mos-window-title--l">
            <p class="text-mos-title--m">Projects</p>
        </div>
        <div class="mos-window-main">
            {% assign mos_shortcut_proj = site.tags.highlight %}
            {% for project in mos_shortcut_proj %}            
            <a class="mos-list-item" href="{{ project.url }}" alt="{{project.description_short}}">
                <p class="text-mos-title--xl">{{ project.title }}</p>
            </a>
            {% endfor %}
        </div>
    </div>

    {% assign thepost = site.posts | where:"title","Aral Sea" %}
    {% for post in thepost %}

    <a href=" {{ post.url }}" alt="{{ post.description_short }}"
        class="mos-window--postit border--all outer aspect-1-1">
            <img class="inner" src="assets/img/{{ post.header_img }}">            
    </a>
    {% endfor %}

    <div class="bg-pointgrid bg-grid--500"></div>
</section>

<section class="article-section m--global gr-baseline">

    <div class="mos-article-window mos-window mos-window--primary border--all">
        <div class="mos-window-title--l">
            <p class="text-mos-title--m">Articles</p>
        </div>
        <div class="mos-window-main">
            {% for article in site.categories.articles limit: 3 %}
            <a class="mos-list-item text-mos-body--l" href="{{ article.url }}" alt="{{article.description_short}}">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16.707" height="13.414" viewBox="0 0 16.707 13.414">
                    <g transform="translate(0 0.707)">
                        <line x2="16" transform="translate(0 6)" fill="none" stroke="#f5ffff" stroke-width="1" />
                        <line x2="6" y2="6" transform="translate(10)" fill="none" stroke="#f5ffff"
                            stroke-linecap="round" stroke-width="1" />
                        <line y1="6" x2="6" transform="translate(10 6)" fill="none" stroke="#f5ffff"
                            stroke-linecap="round" stroke-width="1" />
                    </g>
                </svg> -->
                <p>{{ article.title }}</p>
            </a>
            {% endfor %}
        </div>
        <svg class="mos-window-resize-handle" xmlns="http://www.w3.org/2000/svg" width="13.104" height="13.104"
            viewBox="0 0 13.104 13.104">
            <rect width="13" height="13" fill="none" />
            <line x1="5.119" y2="5.119" transform="translate(7.5 7.5)" fill="none" stroke="#f5ffff" stroke-width="1" />
            <line x1="10.75" y2="10.75" transform="translate(2 2)" fill="none" stroke="#f5ffff" stroke-width="1">
            </line>
        </svg>
    </div>
    <div class="bg-pointgrid bg-grid--500"></div>

</section>