---
layout: default
title: Kai Magnus Müller - Interaction Design
description: Portfolio of Kai Magnus Müller, Interaction Designer at Syncier and co-founder of Destinations.
sitemap:

sitemap:
priority: 1.0
changefreq: weekly
---

<header id="hero" class="grid-4 section-thin margin-bt--xl margin-top--s">
    <div class="personal-intro text-title">
        <p><span class="inline-highlight">Hi, I’m Kai Magnus.</span><br> A product designer at <a
                href="https://www.syncier.com">Syncier</a>, working on human centered experiences and products.
            Previously, I spent some time at <a href="https://www.intuity.de">Intuity</a> working for automotive
            companies and at <a href="https://www.precious-forever.com">precious design</a> working for a CRM startup.
        </p>
        <p>
            While studying, I wrote a bachelor thesis about <a
                href="{% link _posts/2020-08-20-destinations.md %}">building wayfinding systems</a> , designed a <a
                href="{% link _posts/2020-02-15-Halo.md %}">browser built for research</a>, went to <a
                href="https://www.zokei.ac.jp">Japan</a> and developed an award winning <a
                href="{% link _posts/2017-02-12-aralsea.md %}">interactive exhibit</a>.
        </p>

    </div>
</header>

<section id="projects"
    class="projects-waterfall mobile-projects-limit mobile-small-projects-grid grid-4 section-thin margin-top--l margin-bt--l ">

    <div class="project-section grid-sec-l">

        <div class="list-header border-btm">
            <p class="left text-list-header">Projects</p>

        </div>

        <ul class="projects-list ">

            <!-- PROJECT LIST ITEM -->

            {% for project in site.categories.projects limit: 8 %}
            <li class="list-item text-list-item border-btm">
                <a class="ts-right-20" href="{{ project.url }}" id="{{forloop.index}}" alt="{{ project.description_short}}"
                    title="{{ project.title }}{% if project.tab_title_extended %} - {{ project.tab_title_extended }}{% endif %}">
                    {{ project.title }}
                </a>
            </li>
            {% endfor %}

            {%- capture projectSites -%}
            {
            {%- for post in site.categories.projects -%}
            "{{- post.prefix -}}": "{{- post.url -}}"
            {%- unless forloop.last == true%},{% endunless -%}
            {%- endfor -%}
            }
            {%- endcapture -%}

            {%- capture projectPrefixes -%}
            [
            {%- for post in site.categories.projects -%}
            "{{- post.prefix -}}"
            {%- unless forloop.last == true%},{% endunless -%}
            {%- endfor -%}
            ]
            {%- endcapture -%}

            <!-- RANDOM BUTTOM, VIEW ALL LINK, INCLUDED IN LI -->

            <li class="list-item project-list-links flex-space-between">
                <button id="random-button" title="Go to random project" class="minimal-btn text-list-item"
                    data-prefixes='{{- projectPrefixes -}}' data-sites='{{projectSites}}'>
                    Random Project
                </button>

                <a href="{% link projects.html %}" id="articles-expand" class="button-mobile-expand text-list-item"
                    alt="Go to all projects" title="Go to all projects">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                        height="9" viewBox="0 0 27 9" shape-rendering="crispEdges">
                        <defs>
                            <clipPath>
                                <rect width="27" height="9" />
                            </clipPath>
                        </defs>
                        <g id="icon-expand" clip-path="url(#clip-icon-expand)">
                            <path data-name="Pfad 99" d="M-0,0l5-5,5,5,5-5,5,5,5-5" transform="translate(1 7)"
                                fill="none" stroke="#000" stroke-width="2" />
                        </g>
                    </svg>
                </a>
            </li>

            <a href="projects/#3" id="projects-expand" class="button-mobile-expand">
                <!--        <div class="button-plus">-->
                <!--            <span></span>-->
                <!--            <span></span>-->
                <!--        </div>-->
                <svg class="saw-shape" xmlns="http://www.w3.org/2000/svg" width="114.829" height="21.657"
                    viewBox="0 0 114.829 21.657">
                    <path data-name="Pfad 91" d="M-0,20l16-16,16,16,16-16,16,16,16-16,16,16,16-16"
                        transform="translate(1.414 -1.171)" fill="none" stroke="#fff" stroke-width="4"></path>
                </svg>
            </a>
        </ul>
    </div>

    {% comment %}
    <ul class="projects-list">

        {% for project in site.categories.projects limit: 8 %}
        <li class="list-item">
            <hr>
            <a href="{{ project.url }}" id="{{forloop.index}}" alt="{{ project.description_short}}"
                class="text-list-item">
                {{ project.course }}
            </a>

            {% if forloop.index == 8%}
            <hr>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endcomment %}

</section>

<section id="article" class="grid-4 section-thin margin-top--l margin-bt--xl">
    <!--    <div class="">-->

    <div class="article-section grid-sec-l">
        {% if site.articles == true %}
        <div class="list-header border-btm">
            <p class="left text-list-header">Articles</p>
        </div>

        <ul class="main-section projects-list grid-sec-l">
            {% for article in site.categories.articles limit: 3 %}
            <li class="list-item text-list-item border-btm">
                <a class="ts-right-20" href="{{ article.url }}"
                    alt="{{article.description_short}}">
                    {{ article.title }}
                    {% comment %}
                    <span class="article-date">
                        {%- assign day = article.date | date: "%-d" %}
                        {%- case day %}
                        {%- when '1' or '21' or '31' %}{{ day }}st
                        {%- when '2' or '22' %}{{ day }}nd
                        {%- when '3' or '23' %}{{ day }}rd
                        {%- else %}{{ day }}th
                        {%- endcase %}
                        {{- article.date | date: " %B, %Y" }}</span>
                    {% endcomment %}
                </a>
            </li>
            {% endfor %}

            <!-- 
            <div class="article-list-item">
                <a href="{{ article.url }}" alt="{{article.description_short}}">
                    <h2 class="article-heading">{{ article.title }}</h2>
                    <p class="article-date">
                        {%- assign day = article.date | date: "%-d" %}
                        {%- case day %}
                        {%- when '1' or '21' or '31' %}{{ day }}st
                        {%- when '2' or '22' %}{{ day }}nd
                        {%- when '3' or '23' %}{{ day }}rd
                        {%- else %}{{ day }}th
                        {%- endcase %}
                        {{- article.date | date: " %B, %Y" }}</p>
                </a>
            </div> -->


            <li class="list-item">

                <a href="{% link articles.html %}" id="articles-expand" class="button-mobile-expand "
                    alt="Go to all articles" title="Go to all articles">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                        height="9" viewBox="0 0 27 9" shape-rendering="crispEdges">
                        <defs>
                            <clipPath>
                                <rect width="27" height="9" />
                            </clipPath>
                        </defs>
                        <g id="icon-expand" clip-path="url(#clip-icon-expand)">
                            <path data-name="Pfad 99" d="M-0,0l5-5,5,5,5-5,5,5,5-5" transform="translate(1 7)"
                                fill="none" stroke="#000" stroke-width="2" />
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</section>

<section id="vita" class="grid-4 section-thin margin-top--l margin-bt--l">
    <div class="vita-section grid-sec-l">
        <div class="list-header vita-divider border-btm">
            <p class="left text-list-header">Vita</p>
        </div>
        <div class="vita-motivation">
            {% capture my_include %}{% include vita-motivation.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <!--    </div>-->
    </div>

</section>