---
layout: default
title: All Projects
permalink: /projects
---

<section id="projects" class="grid-4">
    <h1>{{ page.title}}</h1>

{% for project in site.categories.projects %}
<div class="project-waterfall-item">
    <div class="tilt-helper" data-tilt data-tilt-max="3">
        {% if project.annotation%}
        <span class="project-item-annotation">{{ project.annotation }}</span>
        {% endif %}

        <a href="{{ project.url }}" id="{{forloop.index}}">
            <div class="project-item-main" style="background-color: {{ project.color_main }};">
                <div class="outer aspect-1-1">
                    <picture class="inner">
                        <img class="image" src="/assets/img/{{ project.prefix }}-start.jpg" alt="{{ include.alt }}"/>
                    </picture>
                </div>
                <div class="outer aspect-1-1">
                    <div class="project-item-desc inner">
                        <h2 class="">{{ project.title }}</h2>
                        <div class="project-item-metadata">
                            <p class="project-course">{{ project.course }}</p>
                            <p class="semester_date">{{ project.semester_date }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
</section>
