sscr-window sscr-window--primary sscr-window-standard border--all



/* main.css | http://localhost:4000/assets/css/main.css?v=3.0.2 */

.project-header .header-title-container {
    /* margin: 0 auto; */
    margin-top: -50vh;
    transform: translateY(-50%);
  }
  
  .project-header {
    /* height: 100vh; */
    height: 200vh;
    align-items: center;
  }
  
  .project-header .header-media-container {
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  


/* main.css | http://localhost:4000/assets/css/main.css?v=3.0.3 */

@media (max-width: 550px) {
    .project-header {
      /* flex-direction: column; */
      /* margin-top: 30px; */
      margin-top: 0;
    }
  }
  
  .project-header video {
    /* width: 100%; */
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
  
  .project-header .header-title-container {
    /* width: 50%; */
    /* margin-top: -50vh; */
    /* transform: translateY(-50%); */
    margin-top: -20%;
  }
  
  .project-header .header-media-container {
    /* height: 100vh; */
  }
  
  .project-header {
    /* height: 180vh; */
    height: 80vh;
  }
  