:root {
    --color-background-article: #f2f2f2;
    --color-background-article-lite: rgb(238, 238, 238);
    --width-outer: 850px;
    --width-article: 700px;
}

body {
    background-color: var(--color-background-article);
}

.navigation-slim {
    /*opacity: 1;*/
}

.main-content-padding-article {
    margin: 0 auto;
    max-width: var(--width-article);
    background-color: var(--color-background-article);

}

.article-container {
    max-width: var(--width-outer);
    padding: 0;
    box-shadow: 0 6px 18px #a4a4a4;
    background-color: var(--color-background-article-lite);
}

.article-title {
    font: 600 32px "PT Serif", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 20px 75px 40px 75px;
    max-width: var(--width-article);
    color: var(--color-text);

}

.article {
    font: 500 18px "Iowan Old Style", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5em;
    padding: 40px 0;
}

.article p {
    max-width: var(--width-outer);
    margin: 20px 75px;
}

.figure-article {
    margin-top: 50px;
}

.figcaption-article {
    font: 400 15px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5em;
    text-align: center;
    margin: 10px auto 40px auto;
    color: var(--color-text);
}

.article-image {
    width: var(--width-outer);
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-fill-available;
}

.footer-container {
    opacity: 0.4;
}

.article-heading-other {
    font: 500 15px "PT Serif", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 15px;
    color: var(--color-text);
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-background-article-lite: #1f1f1f;
        --color-text: #bfbfbf;
    }

    .article-container {
        box-shadow: 0 6px 18px #060606;
    }
}
