<address class="grid-sec-l">
    <h2 class="contact-text">
        You are very welcome to contact me <a class="" href="https://www.twitter.com/_kaimagnus">@_kaimagnus</a> or say
        <a class="special"
           href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#107;&#097;&#105;&#109;&#097;&#103;&#110;&#117;&#115;&#046;&#100;&#101;">&#104;&#101;&#108;&#108;&#111;&#064;&#107;&#097;&#105;&#109;&#097;&#103;&#110;&#117;&#115;&#046;&#100;&#101;</a>
    </h2>

    <input type="text"/>
</address>
