<section class="project-header margin-bt--sl margin-top--s">
    <div class="header-title">
        <div class="">
            <h1 class="">{{ page.title }}</h1>
            <div class="list-header border-btm margin-top--s">
            </div>
            <ul class="projects-list margin-bt--sl">
        
                <!-- PROJECT LIST ITEM -->
        
                <li class="list-item text-list-item border-btm">
                    <span>
                        {{ page.course }}
                    </span>
        
                </li>
                <li class="list-item text-list-item border-btm">
                    <span>
                        {{ page.semester_date }}
                    </span>
                </li>
            </ul>
        </div>

    </div>
    <div class="header-image">

        {% if include.media == "video" %}

        {% assign figure-type = "media" %}

        {% capture in_file -%}
        {{- include.file -}}
        {%- endcapture %}

        {% capture in_alt -%}
        {{- include.alt -}}
        {%- endcapture %}

        {% capture in_border -%}
        {{- include.border -}}
        {%- endcapture %}

        {% include video-player.html type=figure-type file=in_file alt=in_alt border=in_border %}

        {% elsif include.media == "image" %}
        <div class="featured-image">
            <picture>
                <img src="../assets/img/{{include.file}}" alt="{{ include.alt }}">
            </picture>
        </div>
        {% endif %}
    </div>

</section>
{% comment %}
{% raw %}

{% if include.caption !== null %}

{% capture description %}
{{ include.caption }}
{% endcapture %}

{% elsif %}

{% capture description %}
{{ page.description }}
{% endcapture %}

{% endif %}
{% endraw %}
{% endcomment %}

<p class="project-description">{{ page.description }}</p>