{% if picture_class %}
{% capture picture_class2 %}{{ picture_class }} {% endcapture %}
{% endif %}

<figure class="figure-project project-media-figure m-top--m m-bt--m">
    {% if include.media == "video" %}
    
    {%- assign figure-type = "media" -%}

    {% capture in_file -%}
    {{- include.file -}}
    {%- endcapture %}

    {% capture in_alt -%}
    {{- include.alt -}}
    {%- endcapture %}

    {% capture in_border -%}
    {{- include.border -}}
    {%- endcapture %}

    {%- include video-player.html type=figure-type file=in_file alt=in_alt border=in_border -%}

    <figcaption class="figcaption-project">{{ include.caption | markdownify }}</figcaption>
    {% elsif media == "image" %}


    {% capture srcset %}
    {% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
    {% endfor %}
    {% endcapture %}

    {% capture imgClass %}
    {%- if border == "true" -%}
    sscr-window border--all
    {%- elsif border == "false" -%}
    border--none
    {%- endif -%}
    {% endcapture %}

    {% capture sizes %}
    {{-size-}}
    {% endcapture %} 

    <div class="media-wrapper {{imgClass}}">
        <img loading="lazy" class="{{ picture_class2 }} lightbox-source" src="/{{ path }}" alt="{{ alt }}"
            srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w" sizes="{{sizes}}">
    </div>

    {% if caption %}
    <figcaption class="figcaption-project">{{ caption | markdownify }}</figcaption>
    {% endif %}
    <div class="lightbox" style="visibility: hidden;">
        <div class="lightbox-bg"></div>
        <div class="lightbox-group">
            <img loading="lazy" class="lightbox-img sscr-window border--all" data-src="/{{ path }}" alt="{{ alt }}">
            <p>{{ caption }}</p>
        </div>
    </div>
{% endif %}

</figure>


