{% if include.media == "video" %}
<figure class="figure-project project-media-figure grid-4">
    <video
            {% if include.border == true %}
            class="project-media"
            {% elsif include.border == false %}
            class="project-media-noborder"
            {% endif %}
            controls="controls" muted loop
            src="../assets/video/{{ include.file }}"
            alt="{{ include.alt }}">
    </video>
    <figcaption class="figcaption-project">{{ include.caption }}</figcaption>
</figure>
{% elsif include.media == "image" %}
<figure class="figure-project project-media-figure grid-4">
    <img
            {% if include.border == true %}
            class="project-media"
            {% elsif include.border == false %}
            class="project-media-noborder"
            {% endif %}
            src="../assets/img/{{ include.file }}" alt="{{ include.alt }}"/>
    <figcaption class="figcaption-project">{{ include.caption }}</figcaption>
</figure>
{% endif %}
