{% if include.media == "video" %}
<figure class="figure-project project-media-figure">

    {%- assign figure-type = "media" -%}

    {% capture in_file -%}
    {{- include.file -}}
    {%- endcapture %}

    {% capture in_alt -%}
    {{- include.alt -}}
    {%- endcapture %}

    {% capture in_border -%}
    {{- include.border -}}
    {%- endcapture %}

    {%- include video-player.html type=figure-type file=in_file alt=in_alt border=in_border -%}



    <!-- <div class="res-video-interface">
        <div class="res-video-progress">
            <div class="res-video-position" style="left: 37.1915%;"></div>
            <div class="res-video-position-thumb"></div>
        </div>
        <div class="res-video-main">
            <div class="res-video-controls">
                <div title="Toggle pause" class="res-icon res-video-button res-video-toggle-pause"></div>
                
                
                <div class="res-video-controls-group res-video-current-time">
                    <div title="Select previous frame" class="res-icon res-video-button res-video-time-decrease"></div>
                    <div class="res-video-time">3.​98s</div>
                    <div title="Select next frame" class="res-icon res-video-button res-video-time-increase"></div>
                </div>
                <div class="res-video-controls-group res-video-playback-rate">
                    <div title="Decrease speed by 10%" class="res-icon res-video-button res-video-speed-decrease"></div>
                    <div class="res-video-speed">1.​00x</div>
                    <div title="Increase speed by 10%" class="res-icon res-video-button res-video-speed-increase"></div>
                </div>
            </div>
            <div class="res-video-info">
                <a class="res-video-link res-video-source" href="https://v.redd.it/e72rxhhmr3071" rel="noopener noreferrer">source</a>
                <div class="res-expando-siteAttribution"></div>
            </div>
        </div>
    </div> -->
    <figcaption class="figcaption-project">{{ include.caption | markdownify }}</figcaption>
</figure>
{% elsif media == "image" %}


{% if picture_class %}

{% capture picture_class2 %}{{ picture_class }} {% endcapture %}

{% endif %}

<figure class="figure-project project-media-figure">


    {% capture srcset %}
    {% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
    {% endfor %}
    {% endcapture %}

    {% capture imgClass %}
    {%- if border == "true" -%}
    project-media
    {%- elsif border == "false" -%}
    project-media-noborder
    {%- endif -%}
    {% endcapture %}

    {% capture imgClass %}
    {%- if border == "true" -%}
    project-media
    {%- elsif border == "false" -%}
    project-media-noborder
    {%- endif -%}
    {% endcapture %}

    <div class="media-wrapper">
        <img loading="lazy" class="{{ picture_class2 }}{{ imgClass }} lightbox-source" src="/{{ path }}" alt="{{ alt }}"
            srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w">
    </div>


    {% if caption %}
    <figcaption class="figcaption-project">{{ caption | markdownify }}</figcaption>
    {% endif %}
    <div class="lightbox">
        <div class="lightbox-bg"></div>
        <div class="lightbox-group">
            <img loading="lazy" class="lightbox-img" data-src="/{{ path }}" alt="{{ alt }}">
            <p>{{ caption }}</p>
        </div>
    </div>
</figure>


{% endif %}