{% comment %}
<picture class="{{ picture_class}}"
{% for i in resized %}
<source media="(min-width: {{ i.width }}px)" srcset="/{{ i.path }}">
{% endfor %}
<img class="{{img_class}}" src="/{{ path }}" alt="{{ alt }}">
</picture>
{% endcomment %}


{% capture srcset %}
{% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

<img loading="lazy" {% if picture_class != nil %}class="{{ picture_class }}" {% endif %} src="/{{ path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w">