{% assign usecase = site.data[include.useCaseName] %}

{% assign figure-type = "usecase" %}

<div class="use-case-container">

    <div class="use-case-selector-group">
        {% for video in usecase %}
        <span class="use-case-selector button-text">{{ video.name }}</span>
        {% endfor %}
    </div>

    <div class="use-case-figure-group">
        {%- for video in usecase -%}
        <figure class="use-case-figure">


            {%- capture in_file -%}
            {{- video.file -}}
            {%- endcapture -%}
            
            {%- capture in_alt -%}
            {{- include.alt -}}
            {%- endcapture -%}
            
            {%- capture in_border -%}
            {{- include.border -}}
            {%- endcapture -%}

            {%- include video-player.html type=figure-type file=in_file alt=in_alt border=in_border -%}
            
            {% if video.figcaption %}
            <figcaption class="use-case-figcaption" style="display: none;">{{ video.figcaption | markdownify }}
            </figcaption>{% endif %}
        </figure>
        {%- endfor %}
    </div>
</div>