.article {

  & > * {
      grid-column: 2 / -1;

  }

  .grid-4 {
    padding: 0;
  }

  // margin-top: 150px;
  // margin-bottom: 195px;

  h1 {
  }

  h2 {
    margin-top: 38px;
    margin-bottom: 10px;
  }

  .project-media-figure {
    grid-column: 1 / -1;
    margin: 60px 0 60px;
    width: revert;
  }
  .article-date {
    margin-bottom: 0;
  }
}

.articles-heading {
  grid-column: 2 / -1;
  width: 50%;
}

.all-article-section {
  grid-column: 2 / -1;
  width: 50%;
}

.recent-articles {
  grid-column: 2 / span 2;
  margin-top: 150px;
  width: 100%;
  
  h2 {
    margin-bottom: 26px;
  }

  .article-list-item {
    h2 {
      margin: 0;
    }
  }

  a {
    color: var(--text-color);
    text-decoration: none;

  }
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }
}

// .article + #contact {
//   width: 50%;
// }

@media (max-width: 850px) {
  .article {
    .project-media-figure {
      margin: 30px 0 30px;
      width: revert;
    }
    .article-date {
      margin-bottom: 0;
    }
  }

  .articles-heading {
    width: 70%;
  }
  
  .all-article-section {
    width: 70%;
  }

  .recent-articles { 
    margin-top: 80px;
  }
}

@media screen and (max-width: 550px) {
  .article {
    & > * {
        grid-column: 1 / -1;
        width: 100%;
    }
    h2 {
    margin: 54px 0 20px 0;
    }
  }

  .articles-heading {
    grid-column: 1 / -1;
    width: 100%;
  }
  
  .all-article-section {
    grid-column: 1 / -1;
    width: 100%;
  }
  
  .recent-articles {
    grid-column: 1 / -1;
    margin-top: 150px;
    width: 100%;
  
    & > * {
        grid-column: 1 / -1;
        width: 100%;
    }
  }
  
}