

.article {
  & > {
    p, h1, h2, h3, h4 {
      grid-column: 2 / -1;
      width: 52%;
    }
  }

  .grid-4 {
    padding: 0;
  }

  margin-top: 150px;
  margin-bottom: 200px;

  h1 {
    @include text-h1;
    margin: 0;
  }

  h2 {
    @include text-h2;
    margin: 38px 0 10px 0;
  }

  .project-media-figure {
    margin: 70px 0 70px;
  }
}

.recent-articles {
  grid-column: 2 / span 2;
  margin-top: 150px;
  margin-bottom: 200px;

  & > {
    p, h1, h2, h3, h4, div {
      grid-column: 2 / -1;
      width: 52%;
    }
  }

  a {
    color: $white-90;
  }
}

