

.article {
  & > * {
      grid-column: 2 / -1;
      width: 52%;
  }

  .grid-4 {
    padding: 0;
  }

  // margin-top: 150px;
  // margin-bottom: 195px;

  h1 {
    @include text-h1;
    margin: 0;
  }

  h2 {
    @include text-h2;
    margin: 38px 0 10px 0;
  }

  .project-media-figure {
    grid-column: 1 / -1;
    margin: 60px 0 60px;
    width: revert;
  }
  .article-date {
    margin-bottom: 0;
  }
}

.articles-heading {
  grid-column: 2 / -1;
  width: 52%;
}

.all-article-section {
  grid-column: 2 / -1;
  width: 52%;
}

.recent-articles {
  grid-column: 2 / span 2;
  margin-top: 150px;
  width: 100%;

  & > * {
      grid-column: 2 / -1;
      width: 52%;
  }

  a {
    color: $white-90;
  }
}

