body {
  padding: 0 80px;
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

.main-content {
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 60px;

}

@mixin link-transition-right {

}

$link-translate-right: translateX(12px);

img {
  width: 100%;
}

