body {
  margin: 0;

  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.main-content {
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-column-gap: clamp(20px, 5vw, 60px);
  // padding: 0 clamp(26px, 5vw, 80px);

  grid-column-gap: 0px;
  padding: 0 80px;
  margin: 0 auto 0 auto;
  max-width: 1440px - 160px;

  @media (max-width: 1200px) {
    grid-column-gap: 20px;
    padding: 0 26px;
  }
  @media (max-width: 550px) {
    padding: 0 18px;
  }
}

.section-thin {
  padding: 0 160px;
  margin: 0 auto 0 auto;
  max-width: 1440px - 160px;

  @media (max-width: 1200px) {
    grid-column-gap: 20px;
    padding: 0 26px;
  }
  @media (max-width: 550px) {
    padding: 0 18px;
  }
}

.section-wide {
  padding: 0 40px;
  margin: 0 auto 0 auto;
  max-width: 1920px - 160px;

  @media (max-width: 1700px) {
    max-width: 1920px - 160px;
  }

  @media (max-width: 1200px) {
    grid-column-gap: 20px;
    padding: 0 26px;
  }
  @media (max-width: 550px) {
    padding: 0 18px;
  }
}

.blog-content {
  // padding: 0 80px;
  // margin: auto;
  // max-width: 1440px - 160px;
  // margin-bottom: 260px;

  // @media (max-width: 1200px) {
  //   padding: 0 26px;
  // }
  // @media (max-width: 550px) {
  //   padding: 0 18px;
  // }

  // & > p,
  // ol {
  //   // @include text-standard-proj;
  // }

  ol {
    @include text-standard-m;
  }

  & > p:last-of-type {
    margin-bottom: 50px;
  }

  & > {
    p,
    h1,
    h2,
    h3,
    h4,
    .footnotes,
    .link-back,
    blockquote,
    ol,
    .recent-articles {
      //TODO: Experiment, revert if neccessary
      width: 75%;
      // width: 50%;
      margin-left: 0;
      margin-right: auto;
    }
  }

  h2,
  h3 {
    margin: 68px auto 10px 0;
  }

  blockquote {
    border: 2px solid;
    padding: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    box-sizing: border-box;

    * {
      margin: 0;
      font-size: 28px;
      line-height: 1.3em;
    }
  }
}

@mixin link-transition-right {
}

ol {
  // padding-left: 20px;
  box-sizing: border-box;
}

$link-translate-right: translateX(12px);

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

video {
  display: block;
  width: 100%;
}

.page-content-margin-small {
  margin-top: 130px;
  margin-bottom: 150px;
}

.projects-waterfall {
  // align-items: end;
  //   grid-row-gap: 60px;
  // width: 120vw;
}

// TODO: rename to generic list (apply to articles)
.projects-list {
  appearance: none;
  display: block;
  margin: 0;
  padding: 0;

  #random-button {
    opacity: 0;
  }

  &:hover {
    #random-button {
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

.ts-right-20 {
  // transition: all 0.3s cubic-bezier(0.42, 0, 0.12, 0.98);
  // &:hover {
  //   transform: translateX(20px);
  // }
}

.list-item {
  appearance: none;
  display: block;
  padding: 2px 0;

  * {
    padding: 6px 0;
    display: block;
  }

  .button-link {
    grid-column: 2 / span 1;
    margin-top: 64px;
    height: 98px;
    background-image: url();
    background-size: cover;

    border: 4px solid $white-30;
    & > * {
      color: $white-30;
    }
  }
}

.border-btm {
  border-bottom: 2px solid $text-color;
}

.project-item-main {
  //   display: grid;
  // grid-template-columns: 1fr 1fr;
  box-shadow: #00000065 0px 2px 20px -3px;
}

.project-item-desc {
  box-sizing: border-box;
  padding: 16px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 0 0 0 0;
    @include text-annotation-l;
    font-size: 16px;
    opacity: 0.7;
  }
}

.minimal-btn {
  appearance: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: inherit;
  text-rendering: unset;
  font-weight: unset;
}

#random-button {
  // margin-top: 10px;
  transition: all 1.2s 0.2s cubic-bezier(0.42, 0, 0.12, 0.98);
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.grid-sec-l {
  grid-column: span 3;
}

figcaption,
.use-case-figcaption,
figcaption-project {
  p {
    @include text-standard-m;
    margin-bottom: 0;
  }
}

.project-media-figure,
.use-case-figure {
  .media-wrapper,
  .player-wrapper {
    width: 75%;
  }
}
.project-media-figure {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;

  grid-auto-flow: dense;

  margin: 40px 0;

  .media-wrapper {
    position: relative;
  }

  .expand-button {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    background-color: transparent;
      transition: all 0.3s cubic-bezier(0.42, 0, 0.12, 0.98);
      pointer-events: none;
    * {
      display: block;
    }
  }

  .media-wrapper:hover {
    .expand-button {
      opacity: 1;
    }
  }

  img {
    cursor: pointer;
    max-height: 750px;
    object-fit: contain;
    object-position: right;
    margin-left: auto;
    // background-color: #1a1a1a;
  }

  figcaption {
    display: flex;
    margin-top: auto;
    padding-left: 30px;
    width: 25%;
    box-sizing: border-box;
  }
}

.player-video, .media-wrapper {
  // box-shadow: 0px 4px 11px -2px #6f6f6fa6;
}

.lightbox {
  // display: none;

  z-index: 1;

  .lightbox-group {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.98);
    transition: 0.3s all;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: flex-end;

    width: fit-content;

    p {
      width: 25%;
      max-width: 320px;
      padding-left: 60px;
      margin-bottom: 0;
      margin-right: auto;
      box-sizing: border-box;
      color: $bg-color;
    }
  }

  .lightbox-img {
    background-color: $bg-color;
    width: 75%;
    max-height: 90vh;

    @media (orientation) {
    }

    object-fit: contain;
  }

  .lightbox-bg {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: #000000ec;
    // backdrop-filter: blur(5px);

    transition: 0.3s opacity;

    p {
      color: $bg-color;
      display: flex;
      justify-content: center;
      opacity: 0.7;
    }

    svg {
      stroke: $bg-color;
    }
  }

  &.open {
    visibility: visible;

    .lightbox-group {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    .lightbox-bg {
      opacity: 1;
    }
  }
}

#contact {
  margin-bottom: 260px;
}

.footer p {
  grid-column: 1 /-1;
}

footer {
}

.footnotes {
  margin-top: 60px;
  grid-column: 2 / -1;
  width: 475px;

  &:before {
    content: "Footnotes";
    text-transform: uppercase;
    @include text-annotation-xs;
  }

  ol {
    border-top: 4px solid $white-90;
    margin-top: 6px;
    padding: 40px 0 0;
  }
}

@media (max-width: 1200px) {
  .project-media-figure {
    cursor: revert;
  }

  .page-content-margin-small {
    margin-top: 80px;
    margin-bottom: 120px;
  }

  .project-media-figure {
    figcaption {
      padding-left: 26px;
    }
  }

  #contact {
    margin-bottom: 120px;
  }
}

input[type="text"] {
  appearance: none;
  border-radius: 0;
  background-color: unset;
  border: none;
  border: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 8px 6px;
}
input[type="text"]:focus {
  border-radius: 0;
  outline: none;
  background-color: white;
  // box-shadow: #00000069 0 0 6px inset;
  border: solid 2px black;
  // outline-offset: 2px;
}

@media (max-width: 850px) {
  .grid-4 {
    display: block;
  }

  .blog-content {
    & > {
      p,
      h1,
      h2,
      h3,
      h4,
      .footnotes,
      .link-back,
      blockquote,
      .recent-articles,
      ol {
        width: 100%;
        margin-left: 0;
        margin-right: auto;
      }
    }

    ol {
      padding-left: 20px;
    }
  }

  .projects-waterfall {
    grid-template-columns: repeat(4, 1fr);
    // display: block;
    // position: relative;
  }

  .list-item {
    // width: 25%;
    // position: absolute;
    .button-link {
      height: 80px;
    }
  }

  .project-item-desc {
    padding: 15px;
  }

  .list-item {
    h2,
    h1 {
      font-size: unquote("min(2.5vw, 20px)");
    }

    p {
      font-size: unquote("min(1.8vw, 13px);");
    }
  }

  .project-media-figure,
  .use-case-figure {
    .media-wrapper,
    .player-wrapper {
      width: 100%;
    }
  }

  .project-media-figure {
    flex-direction: column;

    margin: 60px 0 60px 0;

    figcaption {
      display: flex;
      margin-top: 20px;
      padding-left: 0;
      width: 100%;
    }
  }

  figcaption,
  .use-case-figcaption,
  figcaption-project {
    p:first-of-type {
      margin: 0;
    }
  }

  // #contact, .footer {
  // width: 70%;}
}

@media screen and (max-width: 550px) {
  // .blog-content {
  //   & > {
  //     p,
  //     h1,
  //     h2,
  //     h3,
  //     h4,
  //     .footnotes,
  //     .link-back,
  //     blockquote,
  //     ol,
  //     .recent-articles {
  //       width: 100%;
  //       margin-left: auto;
  //       margin-right: auto;
  //     }
  //   }
  //   // & > p,
  //   // ol {
  //   //   @include text-standard-m;
  //   // }
  // }

  .page-content-margin-small {
    margin-top: 0;
    margin-bottom: 0;
  }

  .projects-waterfall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    margin: 50px 0;
  }

  .projects-page-item:nth-of-type(2n) {
    margin-top: 40px;
  }

  .list-item {
    h2,
    h1 {
      font-size: unquote("min(5vw, 28px);");
    }
    p {
      font-size: unquote("min(3.5vw, 15px);");
    }
  }

  // .project-compact {
  //   div:last-of-type {
  //     &:before {
  //       padding-top: 50%;
  //     }
  //   }

  //   .project-item-desc {
  //     h2 {
  //       font-size: 26px;
  //     }

  //     p {
  //       font-size: 18px;
  //     }
  //   }
  // }

  .figure-project,
  .use-case-container {
    padding: 16px 0;
    border-top: solid 2px $text-color;
    border-bottom: solid 2px $text-color;
  }
  //   .project-media-figure figcaption, .use-case-figcaption {
  // padding-bottom: 16px;
  //     border-bottom: solid 4px white;
  //     // width: 90%;
  //     margin-left: auto;
  //     margin-right: auto;
  //   }

  .project-media-figure:first-of-type {
    img {
      // height: 200px;
      object-fit: contain;
    }
  }
  #contact,
  .footer {
    width: 100%;
    box-sizing: border-box;
  }
}

button {
  padding: 0;
}

// @media (min-width: 1700px) {
//   // .grid-4 {
//   //   max-width: 1920px - 160px;
//   // }

//   .blog-content {
//     padding: 0 80px;
//     margin-left: auto;
//     margin-right: auto;
//     // max-width: 1920px - 160px;

//     & > {
//       p,
//       h1,
//       h2,
//       h3,
//       h4,
//       .footnotes,
//       .link-back,
//       blockquote,
//       ol,
//       .recent-articles {
//         max-width: 36%;
//         margin-left: 25%;
//         margin-right: auto;
//       }
//     }

//     a {
//       @include text-standard-proj;
//     }
//   }

//   .project-media-figure,
//   .use-case-figure {
//     .media-wrapper,
//     .player-wrapper {
//       width: 82%;
//     }
//   }

//   .project-media-figure {
//     img {
//       max-height: 900px;
//     }
//     figcaption {
//       width: 18%;
//     }
//   }

//   .lightbox {
//     .lightbox-group {
//       width: 90%;
//     }
//   }
// }

// HELPER CLASSES

.margin-bt--xl {
  margin-bottom: 200px;
}

.margin-bt--l {
  margin-bottom: 120px;
}

.margin-bt--m {
  margin-bottom: 100px;
}

.margin-bt--sl {
  margin-bottom: 40px;
}

.margin-bt--s {
  margin-bottom: 20px;
}

.margin-top--l {
  margin-top: 120px;
}

.margin-top--m {
  margin-top: 100px;
}

.margin-top--sl {
  margin-top: 40px;
}

.margin-top--s {
  margin-top: 20px;
}


@media screen and (max-width: 850px) {
.margin-bt--xl {
  margin-bottom: 100px;
}

.margin-bt--l {
  margin-bottom: 60px;
}

.margin-bt--m {
  margin-bottom: 50px;
}

.margin-bt--sl {
  margin-bottom: 20px;
}

.margin-bt--s {
  margin-bottom: 10px;
}

.margin-top--l {
  margin-top: 60px;
}

.margin-top--m {
  margin-top: 50px;
}

.margin-top--sl {
  margin-top: 20px;
}

.margin-top--s {
  margin-top: 10px;
}

}