$white-0: black;
$white-10: #121212;
$white-30: #808080;
$white-50: #a3a3a3;
$white-90: #F2F2F2;
$link-color: #FEE544;

$bg-color: $white-0;
$text-color: $white-90;
$text-secondary-color: $white-30;

$text-color: $white-10;
$text-secondary-color: $white-30;


:root {
    --text-color: #f2f2f2;
    --bg-color: #121212;
    --text-secondary-color: $white-30;
}
