.personal-intro {
  grid-column: 2 / span 2;
  // margin-top: 150px;
  // margin-bottom: 195px;
  margin-top: clamp(40px, 20vh, 300px);
  margin-bottom: clamp(195px, 25vh, 360px);

  h1 {
    line-height: 1em;
    color: $bg-color;
    background-color: white;
    padding: 5px 8px 6px 8px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0;
  }

  p {
    @include text-bold-l;
  }
}

.project-waterfall-item {
  grid-column: span 1;

  &:first-of-type {
    grid-column-start: 1;
  }

  //&:nth-of-type(6) {
  //  grid-column-start: 1;
  //}

  picture {
    display: block;
  }

  .project-item-annotation {
    margin-left: 18px;
    margin-bottom: 18px;
    @include text-annotation-s;
    display: flex;
    align-items: flex-end;
  }

  .project-item-annotation::before {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: -6px;

    content: " ";
    background-image: url("/assets/src/pointer.svg");
    width: 20px;
    height: 20px;
  }

  &:nth-of-type(1) {
    margin-top: 86px;
  }

  &:nth-of-type(3) {
    margin-top: 190px;
  }

  &:nth-of-type(4) {
    margin-top: 64px;
  }

  &:nth-of-type(5) {
    margin-top: 115px;
  }

  &:nth-of-type(6) {
    margin-top: 64px;
  }

  &:nth-of-type(7) {
    margin-top: 175px;
  }

  &:nth-of-type(8) {
    margin-top: 80px;
  }

  .button-link {
    grid-column: 2 / span 1;
    margin-top: 64px;
    height: 98px;
    background-image: url();
    background-size: cover;

    border: 4px solid $white-30;
    & > * {
      color: $white-30;
    }
  }

  h2 {
    transform: translateZ(20px);
  }

  p {
    transform: translateZ(20px);
  }
}

.project-item-main > *,
.project-item-main:before {
  grid-area: 1/1;
}

.button-link {
  border: 4px solid $white-30;
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-radius: 0;
  background-color: unset;
  font: unset;
  cursor: pointer;

  & > * {
    @include text-annotation-l;
    color: $white-30;
    margin: 0 auto 14px 18px;
    line-height: 1.3em;
    transition: transform 0.5s;
    opacity: 1;
  }

  &:hover * {
    transform: $link-translate-right;
  }
}

.tilt-helper {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.project-item-desc {
  box-sizing: border-box;
  padding: 16px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 0 0 0 0;
    @include text-annotation-l;
    font-size: 16px;
    opacity: 0.7;
  }
}

.button-mobile-expand {
  cursor: pointer;
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 12px;
  flex-direction: column;
  align-items: center;

  .saw-shape {
    width: initial;
    height: auto;
    margin: 0 auto;
  }

  //&:hover{
  //  &:after {
  //    transform: translateY(10%);
  //    opacity: 1;
  //  }
  //}
  //
  //&:after{
  //  content: "Show more";
  //  transform: translateY(-100%);
  //  opacity: 0;
  //  transition: all .3s;
  //}
}

#projects-expand {
  display: none;
}

#articles-expand {
}

#featured-projects {
  .featured-project {
    margin-top: clamp(200px, 20vh, 280px);
  }

  .featured-title {
    height: fit-content;
  }

  .featured-desc {
    @include text-bold-l;
    margin-top: 26px;
  }

  .featured-desc-s {
    margin-top: 26px;
  }
}

.featured-right {
  grid-column: 2 / -1;

  picture {
    display: block;
  }
}

#featured-sticky {
  position: sticky;
  top: 60px;
}

.extended-text {
  position: relative;
  margin-top: 48px;

  p {
    @include text-standard-m;

    &:first-of-type {
      margin-left: 16px;
    }
  }

  & > p:nth-of-type(3) {
    margin-bottom: 0;
  }

  //safari column fix
  & > p:nth-of-type(4) {
    margin-top: 0;
  }

  &:before {
    content: "";
    height: 50%;
    background-color: white;
    width: 4px;
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.column {
  column-gap: 30px;

  & > p {
    break-inside: avoid;
    margin-top: 0;
  }

  h2 {
    column-span: all;

    //TODO: black on white like in header?
    //background-color: white;
    //color: black;
    //padding: 6px;
    //line-height: 1em;

    margin-bottom: 17px;
  }

  .button-link {
    margin-top: 16px;
    height: 125px;
    box-sizing: border-box;
  }
}

.column-3 {
  column-count: 3;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.gohfg-text {
  margin-top: 90px;

  & > p:last-of-type {
    margin: 0;
  }
}

.button-highlight {
  border-color: $white-90;

  p {
    color: $white-90;
  }
}

#vita {
  margin-top: clamp(200px, 20vh, 280px);

  margin-bottom: 130px;
}

.divider-header {
  display: flex;
  align-content: space-between;
  margin-bottom: 40px;

  border-bottom: 4px solid $white-90;

  p {
    //@include text-h1;
    @include text-annotation-xs;
    margin: 0 0 6px 0;
  }

  :nth-child(2) {
    margin-left: auto;
  }
}

.articles-divider {
}

.vita-divider {
  grid-column: 2 / -1;
  grid-row: 1;
}

.motivation-divider {
  display: none;
}

.vita-picture-container {
  height: fit-content;

  .vita-picture {
    //height: 50%;
  }
}

.contact-text {
  font-style: normal;
}

#vita,
#contact {
  p > a,
  h2 > a {
    color: $link-color;
  }
}

.outer {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
  }

  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      height: 100%;
    }
  }
}

.aspect-2-1:before {
  padding-top: (1 / 2) * 100%;
}

.aspect-1-1:before {
  padding-top: (1 / 1) * 100%;
}

@media screen and (max-width: 1200px) {
  .column-3 {
    column-count: 2;
  }
}

@media (max-width: 850px) {
  .personal-intro {
    grid-column: 1 / -1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(40px, 11vh, 300px);
    margin-bottom: clamp(80px, 11vh, 360px);
  }
  .projects-waterfall {
    grid-template-columns: repeat(4, 1fr);
    // display: block;
    // position: relative;
  }

  .project-waterfall-item {
    // width: 25%;
    // position: absolute;
  }

  .project-item-desc {
    padding: 15px;
    h2,
    h1 {
      font-size: unquote("min(2.4vmax, 18px)");
    }

    p {
      font-size: unquote("min(1.6vmax, 13px);");
    }
  }

  .column > p {
    break-inside: auto;
  }

  .grid-4 {

  }

  .extended-text {
    &::before {
      display: none;
    }

    & p:first-of-type {
      margin-left: 0;
    }

    & > p:nth-of-type(3) {
      margin-bottom: revert;
    }

    //safari column fix
    & > p:nth-of-type(4) {
      margin-top: revert;
    }
  }

  #vita{
    grid-template-columns: repeat(2, 1fr);
    // width: 70%;    
  }
  .articles-divider {
    grid-column: 1 /-1;
    grid-row: 1;
  }
  .article-section {
    grid-column: 1 /-1;
    grid-row: 2;
    margin-bottom: 40px;
  }

  .vita-divider {
    grid-column: 1 /-1;
    grid-row: 3;
  }

  .vita-picture-container {
    grid-column: 1 / span 1;
    grid-row: 5;
    margin: 40px 0;
    .aspect-1-1:before {
      padding-top: 50%;
    }
  }
}
// // @media (max-width: 850px) and (orientation: horizontal){
// @media (max-width: 850px) and (max-height: 600px) {
//   .personal-intro {
//     margin-top: clamp(40px, 8vh, 300px);
//     margin-bottom: clamp(80px, 25vh, 360px);
//   }
// }

// @media (max-width: 850px) and (min-height: 800px) {
//   .personal-intro {
//     margin-top: clamp(40px, 20vh, 300px);
//     margin-bottom: clamp(80px, 25vh, 360px);
//   }
// }

@media screen and (max-width: 550px) {
  .personal-intro {
    grid-column: span 1;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;

    h1 {
      margin-bottom: 20px;
    }
  }

  #projects {
    //scroll-snap-type: y mandatory;
    //overflow: scroll;

    //&.open{
    //  .project-waterfall-item:nth-of-type(n+4) {
    //    height: auto;
    //    opacity: 1;
    //    transform: scale(1);
    //  }
    //}
  }

  .projects-waterfall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    margin: 100px 0;
  }

  .project-waterfall-item {
    transition: all 0.3s;

    &:nth-of-type(1) {
      margin-top: 0px;
    }

    &:nth-of-type(2) {
      margin-top: 50px;


    }

    &:nth-of-type(3) {
      margin-top: 40px;

    }
    &:nth-of-type(4) {
      margin-top: 90px;
    }
  }

  .project-item-desc {
    padding: 15px;
    h2,
    h1 {
      font-size: unquote("min(2.4vmax, 18px)");
    }

    p {
      font-size: unquote("min(1.6vmax, 13px);");
    }
  }


  .projects-waterfall .project-waterfall-item:nth-of-type(n + 5) {
    display: none;
    }

  .random-project-button,
  .all-project-button {
    display: none;
  }

  #projects-expand {
    display: flex;
    grid-column: 1 / -1;
    margin-top: 40px;
  }

  #featured-projects {
    display: none;
  }

  #vita {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    .divider-header {
      p {
        margin: 0 0 6px 0;
      }
    }

    p {
      margin: 8px 0 40px 0;
    }
  }

  .divider-header {
    margin-top: 100px;
  }
  .article-section {
    margin-bottom: 12px;
  }

  .vita-divider {
    grid-column: 1 / -1;
    grid-row: unset;
  }

  .motivation-divider {
    display: block;
  }
}

@media (min-width: 1700px) {
  .index-projects {
    // grid-column-gap: 120px;
  }

  .project-item-desc {
    h2 {
      font-size: 37px;
      line-height: 1.4em;
    }
  }

  .gohfg-text {
    h2 {
      font-size: 37px;
    }
  }
}
