.sscr-hero-sticky {
  grid-column: 1 / 7;
  top: 0;
  // transform: translateY(-50%);
  position: sticky;
  display: flex;
  // align-self: flex-start;
  align-items: center;
  height: 100vh;
  // z-index: 0;
}

.sscr-hero-scroll {
  grid-column: 7 / -1;
  background-color: var(--bg-color);
  // z-index: 1;
  -webkit-transform: translate3d(0,0,0); 

  .sscr-window {
    margin-bottom: 60px;
  }
}

.personal-intro {
  p {
    margin-bottom: 10px;
  }

  h1 {
    line-height: 1em;
    color: var(--text-color);
    padding: 5px 8px 6px 8px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0;
  }

  .inline-highlight {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0 8px;
    text-decoration: none;
    width: fit-content;
  }
}

.sscr-project-window {
  // width: fit-content;
  // background-color: var(--pi-green);
  a {
    text-decoration: none;
  }
}

.project-section {
  position: relative;

  .sscr-window--postit:nth-of-type(1) {
    // grid-column: 3 / span 2;
    // grid-row: 1;
    margin-top: 100%;
  }
  .sscr-window--postit:nth-of-type(2) {
    //   grid-column: 11 / span 2;
    //   grid-row: 1;
    //   transform: translate(-20%, 90%);
    margin-top: 20%;
  }

  .sscr-window--postit:nth-of-type(3) {
    grid-column: 8 / span 2;
    margin-top: 70%;
  }

  .postit-video {
    grid-column: 5 / span 3;
    margin-top: -20%;
    background-color: var(--pi-blue);
  }

  .bg-pointgrid {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(10%, 20%);
  }
}

.contact-window {
  grid-column: 1 / span 4;
}

.link-grid {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 75px;
  row-gap: 10px;
  margin-top: 10px;
}

.contact-window.expanded {
  position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 800px;
height: 410px;
}

.link-list {
  grid-column: 7 / span 3;
  align-self: center;
}

.article-section {
  position: relative;
  .bg-pointgrid {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -40%);
  }
}

$link-translate-right: translateX(12px);

.button-link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-radius: 0;
  font: unset;
  cursor: pointer;

  & > * {
    color: $white-30;
    margin: 0 auto 14px 18px;
    line-height: 1.3em;
    transition: transform 0.5s;
    opacity: 1;
  }

  &:hover * {
    transform: $link-translate-right;
  }
}

.aspect-2-1 {
  aspect-ratio: 2 / 1;
}

.aspect-1-1 {
  aspect-ratio: 1;
}

@media screen and (max-width: 1000px) {
  .sscr-hero-sticky {
    grid-column: 1 / -1;
  height: 80vh;
  }

  .sscr-hero-scroll {
    grid-column: 1 / -1;
    margin-top: 0;

    .sscr-window {
      margin-bottom: 60px;
    }
  }

  .project-section .sscr-window--postit:nth-of-type(3) {
    grid-column: 7 / span 3;
  }
  .project-section .sscr-window--postit-img {
    grid-column: 5 / span 4;
  }

  .contact-window {
    grid-column: 1 / span 5;
  }

  .link-list {
    grid-column: 6 / -1;
  }
}

@media (max-width: 850px) {
  .personal-intro {
    grid-column: 1 / -1;
    // width: 70%;
    margin-left: auto;
    margin-right: auto;
    // margin-top: clamp(40px, 11vh, 300px);
    // margin-bottom: clamp(80px, 11vh, 360px);
    transform: translate(0);
  }

  .button-link > * {
    font-size: unquote("min(1.8vmax, 13px);");
  }

  .contact-window,
  .link-list {
    grid-column: 1/-1;
  }

  .link-list {
    margin-top: 40px;
  }
}

@media screen and (max-width: 550px) {
  .personal-intro {
    grid-column: span 1;

    h1 {
      margin-bottom: 20px;
    }
  }

  .project-section {
    position: relative;

    .sscr-window--postit:nth-of-type(1) {
      grid-column: 1 / span 4;
      // grid-row: 1;
      margin-top: 0;
    }
    .sscr-window--postit:nth-of-type(2) {
      grid-column: 5 / span 4;
      //   grid-row: 1;
      //   transform: translate(-20%, 90%);
      margin-top: 0;
    }

    .sscr-window--postit:nth-of-type(3) {
      grid-column: 1 / span 4;
      margin-top: 0;
    }

    .sscr-window--postit-img {
      grid-row: 2;
      grid-column: 1 / -1;
      margin-top: 0;
    }
  }

  .sscr-input {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .project-item-desc {
    h2 {
      font-size: 37px;
      line-height: 1.4em;
    }
  }
}
