.nav {
  grid-column: span 4;
  // margin: 36px 0;

  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $white-50;

  .current {
    color: $white-90;
  }
}

.nav-title {
  font-size: 16px;
}

.nav-items {
  // margin-left: auto;
  display: flex;

}

#hamburger {
  display: none;
}

@media (orientation:landscape) and (max-width: 850px) {
  .nav {
    margin: 26px 0;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    margin: 26px 0;
    flex-direction: column;
  }

  .nav-items {
    margin: 20px 0 -135px 0;
    flex-direction: column;
    transition: all 0.46s cubic-bezier(0.42, 0, 0.12, 0.98);
    background-color: inherit;
    width: 100%;
    padding: 0;
    // clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    visibility: hidden;

    a {
      opacity: 0;
      margin: 11px 0 0 0;
      font-size: 14px;
      width: fit-content;
      transform: translateY(-10px);

      @for $i from 4 through 1 {
        &:nth-of-type(#{5 - $i}) {
          transition: all 0.3s cubic-bezier(0.42, 0, 0.12, 0.98) 0.04s * $i;
        }
      }
    }
  }

  .nav-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #hamburger {
    z-index: 1;
    width: 40px;
    height: 4px;
    display: block;
    //margin: 4vw 4vw 4vw auto;
    padding: 4vw 0 4vw 4vw;
    cursor: pointer;
    background-color: unset;
    position: relative;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.12, 0.98);

    span {
      display: block;
      height: inherit;
      width: 100%;
      background: white;
      opacity: 1;
      left: 0;
    }
  }

  .open {
    .nav-items {
      visibility: visible;
      margin-bottom: 10%;
    }

    #hamburger {
      transform: scaleY(2);
    }
  }

  .open {
    .nav-items {
      a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .open {
    .nav-items {
      a {
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            transition: all 0.3s cubic-bezier(0.42, 0, 0.12, 0.98) 0.04s * $i;
          }
        }
      }
    }
  }
}
