.nav {
  grid-column: span 4;
  margin: 36px 0;

  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;

  color: $white-50;

  .current {
    color: $white-90;
  }
}

.nav-title {
  font-size: 16px;
}

.nav-items {
  margin-left: auto;
  display: flex;

  a {
    margin-left: 18px;
    @include text-annotation-xs;
  }
}

#hamburger {
  display: none;
}


@media screen and (max-width: 550px) {

  .nav {
    grid-column: span 1;
    margin: 26px 0;
    flex-direction: column;
  }

  .nav-items {
    margin: 20px 0 -40% 0;
    flex-direction: column;
    //position: absolute;
    //transform: translateY(-100%);
    transition: all .3s cubic-bezier(0.42, 0, 0.12, 0.98);
    background-color: inherit;
    width: 100%;
    padding: 0;

    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    //visibility: hidden;
    a {
      margin: 11px 0 0 0;
      font-size: 14px;
      width: fit-content;
    }
  }

  .nav-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #hamburger {
    z-index: 1;
    width: 40px;
    height: 7px;
    display: block;
    //margin: 4vw 4vw 4vw auto;
    padding: 4vw 0 4vw 4vw;
    cursor: pointer;
    background-color: unset;
    position: relative;
    transition: all .3s cubic-bezier(0.42, 0, 0.12, 0.98);

     span {

       display: block;
      height: 7px;
      width: 100%;
      background: white;
      //border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }

  .open {
    .nav-items {
      //transform: translateY(100%);
      visibility: visible;

      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);

      margin-bottom: 0%;
    }

    #hamburger {
     transform: translateY(120px);

      span{
        //transform: rotate(90deg);

      }
    }
  }
}

