article {
  a {
    color: #3b7bec;
  }
}

.article-background {
  .divider-header, .nextproject-container {
    grid-column: 2 / -1;
    width: 52%;
  }
}


.featured-left {
  grid-column: 1 /2;

  .button-link {
    border-color: $white-90;
    height: 100px;
    margin-top: 60px;

    p {
      color: $white-90;
      width: 60%;
    }
  }
}

.project-description {
  @include text-bold-l;
  margin-bottom: 60px;
}

//article {
//  p:nth-child(2) {
//    position: relative;
//    margin-left: 16px;
//
//    &:before {
//      content: "";
//      height: 223px;
//      background-color: white;
//      width: 4px;
//      position: absolute;
//      top: 5px;
//      left: 0;
//    }
//  }
//}

.project-header:first-of-type {
  margin-top: 200px;
}

.project > {
  p, h1, h2, h3, h4 {
    grid-column: 2 / -1;
    width: 52%;
  }
}

figcaption {
  @include text-standard-m;
}

.project-media-figure {
  grid-column: 1 / -1;

  grid-auto-flow: dense;

  margin: 100px 0 70px 0;

  img {
    grid-column: 2 / -1;
  }

  figcaption {
    grid-column: 1 / 2;
    display: flex;
    margin-top: auto;
  }
}


.use-case-container {
  grid-column: 1 / -1;

  .use-case-selector-group {
    grid-column: 2 / -1;

    margin: 100px 0 20px 0;
  }

  .use-case-figure-group {
    grid-column: 1 / -1;
  }

  .use-case-selector {
    @include text-h2;
    font-size: 24px;
    border: none;
    background: none;
    color: white;
    margin-right: 20px;
    cursor: pointer;
  }


  figure {
    grid-column: 1 / -1;

    margin: 0;
    grid-auto-flow: dense;

    figcaption {
      grid-column: 1 / 2;
      margin-top: auto;
    }

    video {
      grid-column: 2 /-1;
      width: fit-content;
      width: -webkit-fill-available;
    }
  }

}

.footnotes {
  margin-top: 50px;
  grid-column: 2 / -1;
  width: 52%;

  &:before{
    content: "Footnotes";
    text-transform: uppercase;
    @include text-annotation-xs;
  }

  ol {
    border-top: 4px solid $white-90;
    margin-top: 6px;
    padding: 40px 0 0;
  }
}


.link-back {
  grid-column: 2 /-1;
  color: $white-90;
  margin: 50px 0 260px 0;

  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 4px;
    margin: 0 15px 3px 0;
    content: ' ';
    background-color: $white-90;
    transition: width .5s;
  }

  &:hover {
    &::before {
      width: 45px;
    }
  }
}

