// article {
//   a {
//     color: #3b7bec;
//   }

//   a:visited {
//     color: #8ab5ff;
//   }
// }

//.article-background {
//  .list-header, .nextproject-container {
//    grid-column: 2 / -1;
//    width: 52%;
//  }
//}

.project-page-title-box {
  // margin-bottom: 60px;
  margin-right: 60px;

  h1 {
    margin-bottom: 16px;
  }
}

//article {
//  p:nth-child(2) {
//    position: relative;
//    margin-left: 16px;
//
//    &:before {
//      content: "";
//      height: 223px;
//      background-color: white;
//      width: 4px;
//      position: absolute;
//      top: 5px;
//      left: 0;
//    }
//  }
//}

.project-header {

  .header-title {
    width: 50%;
    margin: 0;

    h1 {
      @include text-h1;
      font-weight: 700;
    }
  }

  .header-image {
    width: 75%;
  }

  .button-link {
    border-color: $text-color;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    width: auto;
    & > * {
      color: $text-color;
      width: 60%;
    }
  }

  video {
    width: 100%;
  }
}

.project {

  //Fix for nested grid-4
  .grid-4 {
    padding: 0;
  }

  h1 {
    margin-bottom: -12px;
    @include text-h2;
    font-size: 30px;
  }
}

.project-title {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin: inherit;
  margin-bottom: -30px;

  h1 {
    line-height: 1em;
    color: $bg-color;
    background-color: white;
    padding: 5px 8px 6px 8px;
    width: fit-content;
    margin: 0;
  }

  span {
    margin: 0 0 0 0;
    @include text-annotation-xs;
    opacity: 0.7;
  }

  .project-course {
    margin-right: 20px;
  }
}

.project .project-description {
  @include text-bold-xl;
  margin: 26px 0 60px;
  //width: auto !important;
  grid-column: 2 / -1;
  position: relative;

  // &:before {
  //   content: "";
  //   height: 60%;
  //   background-color: white;
  //   width: 4px;
  //   position: absolute;
  //   top: 5px;
  //   left: -16px;
  // }
}

.use-case-container {
  grid-column: 1 / -1;
  margin: 60px 0;
}

.use-case-selector-group {
  grid-column: 1 / span 3;

  margin-bottom: 20px;
}

.use-case-figure-group {
  grid-column: 1 / -1;
}

.use-case-figure {
  display: flex;
  flex-direction: row;
}

.use-case-figcaption {
  padding-left: 30px;
  width: 25%;
  box-sizing: border-box;
}

.use-case-selector {
  @include text-h2;
  font-size: 24px;
  border: none;
  background: none;
  color: $text-color;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;

  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   height: 4px;
  //   width: 0;
  //   background-color: white;
  //   transition: all 0.3s;
  //   transform: scaleX(1);
  //   left: 0;
  // }

  opacity: 0.5;

  // &:after {
  //   display: none;
  // }
  &.active {
    opacity: 1;
  }

  &:hover {
    // &:after {
    //   width: 100%;
    //   transform: scaleX(1);
    // }
    opacity: 1;
  }

  &.active {
    // &:after {
    //   width: 100%;
    // }
  }
}

figure {
  grid-column: 1 / -1;

  margin: 0;
  grid-auto-flow: dense;

  figcaption {
    grid-column: 1 / 2;
    margin-top: auto;
  }

  video {
    grid-column: 2 /-1;
    // width: fit-content;
    // width: -webkit-fill-available;
  }
}

.link-back {
  @include text-standard-m;
  display: block;
  color: $text-color;
  margin: 50px 0 260px 0;

  &:visited {
    // color: $white-90;
  }

  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 2px;
    margin: 0 15px 3px 0;
    content: " ";
    background-color: $text-color;
    transition: width 0.5s;
  }

  &:hover {
    &::before {
      width: 45px;
    }
  }
}

@media (max-width: 1200px) {
  .project-description {
    width: 70%;
  }
  .project-page-title-box {
    margin-right: 26px;
  }

  .project-header {
    margin-top: 100px;
    .button-link {
      margin-right: 26px;
    }
  }

  .use-case-figcaption {
    padding-left: 26px;
  }

  .footnotes {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .project-header {
    flex-direction: column;
    margin-top: 100px;

    .featured-left {
      width: 70%;
      margin: 0 auto 20px;
    }

    .button-link {
      margin-right: 0;
    }

    .featured-right {
      width: 100%;
      margin: 0 auto;
    }
  }

  .project-page-title-box {
    margin-right: 0;
    .aspect-1-1::before {
      padding-top: 50%;
    }
  }

  .use-case-figure {
    flex-direction: column;

    .use-case-video {
      max-width: 100%;
    }
  }
  .use-case-figcaption {
    margin-top: 20px;
    padding-left: 0;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .project-header {
    .project-page-title-box {
      .aspect-1-1::before {
        padding-top: 25%;
      }
    }
  }
}

@media (max-width: 550px) {
  .project .project-description {
    @include text-h2;
    margin: 26px auto 60px;
  }

  .project-header {
    flex-direction: column;
    margin-top: 30px;

    h1 {
      @include text-h1;
    }

    .featured-left {
      width: 100%;
      margin: 0 auto 20px;
    }

    .button-link {
      width: unset;
      margin-right: 0;
    }
  }

  .use-case-selector-group {
    // display: flex;
    // overflow: scroll;
    // width: max-content;
  }

  .use-case-selector {
    line-height: 1em;
    margin-bottom: 10px;
    display: block;
    position: relative;
    width: fit-content;
  }

  // .use-case-figcaption {
  //   // width: 90%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

@media (min-width: 1700px) {
  .project-header {
    h1 {
      font-size: 37px;
    }
  }

  .project .project-description {
    margin-left: 25%;
  }

  .use-case-figure {
    .use-case-figcaption {
      padding-left: 60px;
      width: 18%;
    }
  }
}
