body {
  font-family: "SofiaPro", sans-serif;
  font-weight: 600;
  color: $white-90;
  background-color: var(--bg-color);
  
}

a {
  color: inherit;
  transition: color 0.3s;
}

a:visited {
  color: inherit;
}

a:hover {
  color: $white-90;
}

@mixin text-h1 {
  font-size: 2.3rem;
  line-height: 1.3em;
  letter-spacing: 0.3px;
  margin: 0;
  @media (max-width: 850px) {
    font-size: 1.5rem;
  }
}

@mixin text-h2 {
  font-size: 26px;
  margin: 0;
  letter-spacing: 0.1px;

  @media screen and (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.3em;
  }
  @media (min-width: 1700px) {
    font-size: 28px;
  }
}

@mixin text-standard-l {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin: 8px 0 22px 0;
}

@mixin text-standard-proj {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.3px;
  margin: 14px 0 20px 0;
}

@mixin text-standard-m {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.3px;
  margin: 14px 0 14px 0;
  @media (max-width: 850px) {
    // line-height: 1.3rem;
  // font-size: 1.2rem;

  }
  @media (min-width: 1700px) {
    font-size: 19px;
  }
}

@mixin text-bold-xl {
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
  margin: 16px 0;
}

@mixin text-bold-l {
  //TODO: decide if 22px or 21px is better
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin: 16px 0;
  @media (max-width: 850px) {
    font-size: 1.3rem;
  }
}

@mixin text-bold-m {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.3px;
  margin: 11px 0 14px 0;
}

@mixin text-bold-s {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  margin: 3px 0;
  @media (min-width: 1700px) {
    font-size: 16px;
  }
}

@mixin text-annotation-s {
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    font-size: 13px;
  }
  @media screen and (max-width: 550px) {
    font-size: unquote("min(1.6vmax, 13px)");
  }
  @media (min-width: 1700px) {
    font-size: 17px;
  }
}

@mixin text-annotation-l {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
  @media (min-width: 1700px) {
    font-size: 18px;
  }
}

@mixin text-annotation-xs {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @media (min-width: 1700px) {
    font-size: 15px;
  }
}

h1 {
  @include text-h1;
}

h2 {
  @include text-h2;
}

p {
  margin: 0
  // @include text-standard-m;
}

//project page headlines
h3 {
  @include text-h2;
  margin: 38px 0 10px 0;
}

.text-standard--m {
  @include text-standard-m
}

.text-annotation-xs {
  @include text-annotation-xs
}

//Text in XD looks like 600 even though its regular/500
@mixin text-mos-body--m {
  font-weight: 500;
  font-size: 15px; 
  line-height: 1.4em;
}


.text-mos-window--m {
  @include text-mos-body--m
}

.font--semibold {
  font-weight: 600;
}

.font--bold {
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  blockquote {
  }
}
