---
layout: default
---
<article class="blog-content project m--global m-top--xl m-bt--xl">
    <h1 class="article-title">{{ page.title }}</h1>
    <p class="article-date">
        {{- page.date | date: "%-d %B %Y" }}

        {% comment %}
        {% assign day = page.date | date: "%-d" %}
        {%- case day %}
        {%- when '1' or '21' or '31' %}{{ day }}st
        {%- when '2' or '22' %}{{ day }}nd
        {%- when '3' or '23' %}{{ day }}rd
        {%- else %}{{ day }}th
        {%- endcase %}
        {{- page.date | date: " %Y" }}
        {% endcomment %}
    </p>


{{ content }}

<div class="recent-articles">
    <h2 class="article-heading-other">Recent Posts</h2>
    <!-- <div class="divider-header ">
        <p class="left">Recent Posts</p>
    </div> -->
    {% for article in site.categories.articles %}

    {% unless page.url == article.url %}
    <div class="article-list-item">
        <a href="{{ article.url }}">
            <h2 class="article-heading">{{ article.title }}</h2>
            <p class="article-date">{{ article.date | date: "%-d %B %Y"}}</p>
        </a>
    </div>
    {% endunless %}

    {% endfor %}
</div>
</article>