---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:title" content="{{ page.title }}{{ site.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width" />

    <title>{{ page.title }}{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/SofiaPro/SofiaPro.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
{% include navigation.html %}

        {{ content }}

        {% include footer.html %}

        <script type="text/javascript" src="/assets/js/vendor/vanilla-tilt.min.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/jquery-3.4.0.slim.min.js"></script>
<script type="text/javascript" src="/assets/js/src/main.js"></script>
</body>
</html>
