---
layout: posts
---

{% include navigation.html %}

<section class="project-header grid-4">
    <div class="featured-left">
        <div class="featured-title tilt-helper" style="background-color: {{ page.color_main }};" data-tilt
             data-tilt-max="3">
            <div class="aspect-wrapper-1-1">
                <div class="project-item-desc">
                    <h2 class="">{{ page.title }}</h2>
                    <div class="project-item-metadata">
                        <p class="project-course">{{ page.course }}</p>
                        <p class="semester_date">{{ page.semester_date }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="featured-right">
        <div class="featured-image">
            <picture><img src="/assets/img/wires-header.jpg" alt="{{ page.description }}"></picture>
        </div>
    </div>
</section>

<article class="project grid-4">
    <p class="project-description">{{ page.description }}</p>

    {{ content }}
</article>



<div class="divider-header">
    <p class="left"></p>
</div>

<div class="nextproject-container">

    {% if page.next.url %}
    {% if page.next.categories contains "projects" %}
    <div class="nextproject">
        <a href="{{page.next.url}}">
            <div class="nextproject-description">
                <p class="nextproject-heading">Next</p>
                <p class="nextproject-title">{{page.next.title}}</p>
            </div>
            <img class="image nextproject-img" src="../assets/img/{{ page.next.prefix }}-start.jpg"/>
        </a>
    </div>
    {% endif %}
    {% endif %}

    {% if page.previous.url %}
    {% if page.previous.categories contains "projects" %}
    <div class="nextproject">
        <a href="{{page.previous.url}}">
            <div class="nextproject-description nextproject-right">
                <p class="nextproject-heading">Previous</p>
                <p class="nextproject-title">{{page.previous.title}}</p>
            </div>
            <img class="image nextproject-img"
                 src="../assets/img/{{ page.previous.prefix }}-start.jpg"/>
        </a>
    </div>
    {% endif %}
    {% endif %}
</div>

{% include footer.html %}
